{% extends "base.html" %}

{% block content %}

<h1>Community Groups</h1>

<div class="reading-container">
    <div class="buttons" style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin-bottom: 20px;">
        <div style="margin-right: auto;">
            <a href="{% url 'practice' %}" class="buttons" style="display: inline-block; text-align: center;">&lt;</a>
        </div>
        <div style="display: flex; gap: 10px;">
            {% if request.user.is_staff %}
            <a href="{% url 'pending_requests' %}">Pending Requests</a>
            {% endif %}
            <a href="{% url 'create_group' %}">Create Group</a>
        </div>
    </div>

    {% if groups %}
    <ul class="user-list">
        {% for group in groups %}
        <li class="user-item">
            <a href="{% url 'group_words_practice' group.group.id %}">
            <div class="user-card" style="display: flex; justify-content: space-between; align-items: center; padding: 10px 0;">

                <div class="user-title" style="flex: 1; text-align: left; margin-left: 15px;">
                    <p class="user-name"><strong>{{ group.group.name }}</strong></p>
                </div>

                <div class="user-stats" style="display: flex; gap: 20px; text-align: center; margin-right: 15px;">
                    <div class="stat-item reading-item">
                        <p>Words</p>
                        <p>{{ group.words_count }}</p>
                    </div>
                </div>
            </div>
            </a>
        </li>
        {% endfor %}
        </ul>

    {% if paginator.num_pages > 1 %}
        <nav class="list-pages">
            <ul>
                {% if page_obj.has_previous %}
                <li class="page-num">
                    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                </li>
                {% endif %}

                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                    <li class="page-num page-num-selected">{{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <li class="page-num"><a href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-num">
                    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    {% else %}
    <p>No groups available.</p>
    {% endif %}
</div>

{% endblock %}
