{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Load words from file</h1>

<div class="profile-container add_ff">
    <p><strong>Instructions:</strong> You can upload either an Excel file (<code>.xlsx</code>) or a text file (<code>.txt</code>) containing data in JSON format.</p>
    <p style="margin-bottom: 5px;"><strong>For Excel files:</strong></p>
    <p>Ensure your file contains only one sheet. The sheet name doesn't matter, but it must include data in exactly <strong>3 columns</strong>.</p>
    <img src="{% static 'med/img/exel/sheets_exel.png' %}" alt="Excel sheets">
    <p><strong>First rows:</strong> Ensure the first rows match the structure shown in the example below.</p>
    <img src="{% static 'med/img/exel/rows_exel.png' %}" alt="Excel rows" class="rows_exel">

    <p><strong>Download Template:</strong> Click the button below to download an example table.</p>

    <div class="buttons dow-ex-button">
        <a href="{% url 'download_file' 'awexample.xlsx' %}">Download Example Table</a>
    </div>

    <p style="margin-bottom: 5px;"><strong>For text files:</strong></p> 
    <p>The file should contain a valid JSON array with objects structured as follows:
        <pre>
        [
            {
            "word": "example", 
            "translation": "приклад", 
            "example": "This is an example sentence."
            },
            ...
        ]
        </pre>
    </p>

    <p><strong>Upload Your File:</strong> Select your file and click "Upload" to process it.</p>
    {% if messages %}
    <ul class="messages" style="text-align: center;">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red; list-style-type: none;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form id="uploadForm" method="post" enctype="multipart/form-data" style="text-align: center;">
        {% csrf_token %}
        <input type="file" name="file" accept=".xlsx,.txt" required>
        <div class="buttons edit-buttons">
            <a href="#" onclick="document.getElementById('uploadForm').submit(); return false;">Upload</a>
        </div>
    </form>
    </div>

    <script>
        const form = document.getElementById('uploadForm');
        console.log(form);
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(form);
    
            try {
                const response = await axios.post("{% url 'upload_file' %}", formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                });
        } catch (error) {
            console.error(error);
        }});
    </script>
    
{% endblock %}