{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Achievements</h1>

<div class="word-list-container achievements-wrapper">
    <div class="buttons" style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin-bottom: 20px;">
        <div style="margin-right: auto;">
            <a href="{% url 'profile' request.user.username %}" class="buttons" style="display: inline-block; text-align: center;">&lt;</a>
        </div>
    </div>   

    <div class="achievements-grid">
        {% for ach_type, ach_list in achivments.items %}
            <div class="achievement-category">
                <h2 class="category-title">{{ ach_type }}:</h2>
                <div class="achievement-list">
                    {% for ach in ach_list %}
                        <div class="achievement-card">
                            {% if ach.icon and ach.name != '?' %}
                                <img class="achievement-icon" src="{{ ach.get_icon_url }}" alt="Achievement icon">
                            {% else %}
                                <h3 class="achievement-title">{{ ach.name }}</h3>
                            {% endif %}
                            <p class="description">{{ ach.description }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
