{% extends 'base.html' %}

{% block content %}
<div class="container confirm-deletion">
    <h1>Confirm Deletion</h1>

    <p>{{text}}</p>

    <form method="post">
        {% csrf_token %}
        <ul class="word-list">
            {% if not is_group %}
                {% for word in words %}
                    <!-- {{ word.word }} - {{ word.translation }}{% if not forloop.last %}, {% endif %} -->
                    {{ word.word }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% else %}
                    {{ group_name }}
            {% endif %}
        </ul>

        <div class="buttons">
            <a href="#" onclick="document.forms[0].submit(); return false;">Confirm Deletion</a>
            {% if is_group %}
                <a href="{% url 'groups' %}{{group_id}}">Cancel</a>
                <input type="hidden" name="group_id" value="{{ group_id }}">
            {% else %}
                {% for word_id in word_ids %}
                    <a href="{% url 'words' %}">Cancel</a>
                    <input type="hidden" name="word_ids" value="{{ word_id }}">
                {% endfor %}
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
