{% extends "base.html" %}

{% block content %}
<div class="profile-container">
    <h2>Edit Profile</h2>
    <form method="post">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <input type="hidden" name="update_profile" value="update_profile">
        <div class="buttons edit-buttons">
            <a href="#" onclick="this.closest('form').submit();" name="update_profile" class="btn">Update Profile Info</a>
        </div>
    </form>
    
    <h2>Display Of Words</h2>
    <form method="post">
        {% csrf_token %}
        <div class="words_select">
            {{ words_show_form.words_num_in_prof.label_tag }}
            {{ words_show_form.words_num_in_prof }}
        </div>
        <div class="words_select">
            {{ words_show_form.what_type_show.label_tag }}
            {{ words_show_form.what_type_show }}
        </div>
        <div class="words_select">
            {{ words_show_form.access_dictionary.label_tag }}
            {{ words_show_form.access_dictionary }}
        </div>
        <div class="words_select">
            {{ words_show_form.show_word_stats.label_tag }}
            {{ words_show_form.show_word_stats }}
        </div>

        <input type="hidden" name="update_words_show" value="update_words_show">
        <div class="buttons edit-buttons">
            <a href="#" onclick="this.closest('form').submit();" name="update_words_show" class="btn">Update Words Show</a>
        </div>
    </form>

    <h2>Update Avatar</h2>
    <form method="post" enctype="multipart/form-data" class="avatar-form">
        {% csrf_token %}
        {{ avatar_form.as_p }}
        <input type="hidden" name="update_avatar" value="update_avatar">
        <div class="buttons edit-buttons">
            <a href="#" onclick="this.closest('form').submit();" name="update_avatar" class="btn">Update Avatar Image</a>
        </div>
    </form>

    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ password_form.as_p }}
        <input type="hidden" name="change_password" value="change_password">
        <div class="buttons edit-buttons">
            <a href="#" onclick="this.closest('form').submit();" name="change_password" class="btn">Change Password</a>
        </div>
    </form>
</div>
{% endblock %}
