{% extends 'base.html' %}

{% block content %}
<h1>Edit Word '{{word}}'</h1>

<form method="post" id="edit">
    {% csrf_token %}
    
    <p><label class="form-label" for="{{ form.word.id_for_label }}">{{ form.word.label }}: </label>{{ form.word }}</p>
    <div class="form-error">{{ form.word.errors }}</div>

    <p><label class="form-label" for="{{ form.translation.id_for_label }}">{{ form.translation.label }}: </label>{{ form.translation }}</p>
    <div class="form-error">{{ form.translation.errors }}</div>

    <p><label class="form-label" for="{{ form.example.id_for_label }}">{{ form.example.label }}: </label>{{ form.example }}</p>
    <div class="form-error">{{ form.example.errors }}</div>

    <div class="form-error">{{ form.non_field_errors }}</div>

    <div class="buttons add-text">
        <a href="#" onclick="document.getElementById('edit').submit(); return false;">Save Changes</a>
        <a href="{% url 'words' request.user.username %}">Cancel</a>
    </div>
</form>

{% endblock %}