{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="profile-container edit-container">
    <ul class="user-list">
        <li class="user-item">
            <div class="user-card">
    <h2 class="toggle-header" data-target="#profile-form">Edit Profile &#9660;</h2>
    <form id="profile-form" method="post" style="box-shadow: none; margin-top: 0; display: none;">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <input type="hidden" name="update_profile" value="update_profile">
        <div class="buttons edit-buttons">
            <a href="#" onclick="this.closest('form').submit();" name="update_profile" class="btn">Update Profile Info &#9660;</a>
        </div>
    </form>
            </div>
        </li>
    
        <li class="user-item">
            <div class="user-card">
    <h2 class="toggle-header" data-target="#words-show-form">Display Of Words &#9660;</h2>
    <form id="words-show-form" method="post" style="box-shadow: none; display: none;">
        {% csrf_token %}
        <div class="words_select">
            {{ words_show_form.words_num_in_prof.label_tag }}
            {{ words_show_form.words_num_in_prof }}
        </div>
        <div class="words_select">
            {{ words_show_form.what_type_show.label_tag }}
            {{ words_show_form.what_type_show }}
        </div>
        <div class="words_select">
            {{ words_show_form.show_word_stats.label_tag }}
            {{ words_show_form.show_word_stats }}
        </div>
        <div class="words_select">
            {{ words_show_form.access_dictionary.label_tag }}
            {{ words_show_form.access_dictionary }}
        </div>

        <div style="margin-top: 20px;">
            <h3>You can move it</h3>
            {% include 'stats_bar.html' %}
        </div>
        <input type="hidden" name="update_words_show" value="update_words_show">
        <input type="hidden" name="word_stat_order" id="word-stat-order">

        <div class="buttons edit-buttons">
            <a href="#" onclick="this.closest('form').submit();" name="update_words_show" class="btn">Update Words Show</a>
        </div>
    </form>
            </div>
        </li>

        <li class="user-item">
            <div class="user-card">
    <h2 class="toggle-header" data-target="#avatar-form">Update Avatar &#9660;</h2>
    <form id="avatar-form" method="post" enctype="multipart/form-data" style="box-shadow: none; display: none;">
        {% csrf_token %}
        <div style="display: grid; align-items: center; justify-items: center;">
            <input type="file" id="avatar-input" accept="image/*" style="display: block; margin-bottom: 20px;">
        </div>
        <div style="margin-bottom: 20px;">
            <img id="image" style="max-width: 100%; display: none;">
        </div>
        <input type="hidden" name="cropped_avatar" id="cropped-avatar">

        {% if user_profile.avatar %}
        <div>
            <label for="delete-avatar">
                <input type="checkbox" name="delete_avatar" id="delete-avatar">
                Delete current avatar
            </label>
        </div>
        {% endif %}

        <div class="buttons edit-buttons">
            <a href="#" class="btn" onclick="submitAvatarForm()">Update Avatar Image</a>
        </div>
    </form>
            </div>
        </li>
    
        <li class="user-item">
            <div class="user-card">
    <h2 class="toggle-header" data-target="#password-form">Change Password &#9660;</h2>
    <form id="password-form" method="post" style="box-shadow: none; margin-top: 0; display: none;">
        {% csrf_token %}
        {{ password_form.as_p }}
        <input type="hidden" name="change_password" value="change_password">
        <div class="buttons edit-buttons">
            <a href="#" onclick="this.closest('form').submit();" name="change_password" class="btn">Change Password</a>
        </div>
    </form>
            </div>
        </li>
    </ul>
    
</div>

<script>
    document.querySelectorAll('.toggle-header').forEach(header => {
        const targetForm = document.querySelector(header.dataset.target);
        const storedState = localStorage.getItem(header.dataset.target);
        
        // Restore the state from localStorage
        if (storedState === 'open') {
            targetForm.style.display = 'block';
            header.innerHTML = header.innerHTML.replace('▼', '▲');
        }

        header.addEventListener('click', () => {
            if (targetForm.style.display === 'none') {
                targetForm.style.display = 'block';
                header.innerHTML = header.innerHTML.replace('▼', '▲');
                localStorage.setItem(header.dataset.target, 'open');
            } else {
                targetForm.style.display = 'none';
                header.innerHTML = header.innerHTML.replace('▲', '▼');
                localStorage.setItem(header.dataset.target, 'closed');
            }
        });
    });
</script>

<script>
    const input = document.getElementById('avatar-input');
    const image = document.getElementById('image');
    const croppedAvatarInput = document.getElementById('cropped-avatar');
    let cropper;

    input.addEventListener('change', (e) => {
        const files = e.target.files;
        if (files && files.length > 0) {
            const file = files[0];
            const reader = new FileReader();
            reader.onload = () => {
                image.src = reader.result;
                image.style.display = 'block';
                if (cropper) {
                    cropper.destroy();
                }
                cropper = new Cropper(image, {
                    aspectRatio: 1,
                    viewMode: 1,
                });
            };
            reader.readAsDataURL(file);
        }
    });

    function submitAvatarForm() {
        if (cropper) {
            const canvas = cropper.getCroppedCanvas();
            if (canvas) {
                const croppedDataURL = canvas.toDataURL('image/png');
                croppedAvatarInput.value = croppedDataURL;
            }
        }

        document.getElementById('avatar-form').submit();
    }
</script>

<script>
    const container = document.querySelector('.tabs');
    const tabs = document.querySelectorAll('.tab-btn');

    let draggedItem = null;

    tabs.forEach((tab) => {
        tab.addEventListener('dragstart', () => {
            draggedItem = tab;
            setTimeout(() => tab.classList.add('hidden'), 0);
        });

        tab.addEventListener('dragend', () => {
            draggedItem.classList.remove('hidden');
            draggedItem = null;

            updateOrder();
            logOrder();
        });
    });

    container.addEventListener('dragover', (e) => {
        e.preventDefault();
        const afterElement = getDragAfterElement(container, e.clientX);

        if (afterElement == null) {
            container.appendChild(draggedItem);
        } else {
            container.insertBefore(draggedItem, afterElement);
        }
    });

    function getDragAfterElement(container, x) {
        const draggableElements = [...container.querySelectorAll('.tab-btn:not(.hidden)')];

        return draggableElements.reduce(
            (closest, child) => {
                const box = child.getBoundingClientRect();
                const offset = x - box.left - box.width / 2;
                if (offset < 0 && offset > closest.offset) {
                    return { offset: offset, element: child };
                } else {
                    return closest;
                }
            },
            { offset: Number.NEGATIVE_INFINITY }
        ).element;
    }

    function updateOrder() {
        const tabs = [...container.children];
        tabs.forEach((tab, index) => {
            tab.dataset.index = index;
        });
    }

    function logOrder() {
        const order = [...container.children].map(tab => tab.textContent.trim());
        document.getElementById('word-stat-order').value = order.join(',');
    }

</script>
{% endblock %}
