{% extends "base.html" %}

{% block content %}
<div class="friends-container">
    <h1>{{ user.username }}'s Friends</h1>

    <h2>Friend List:</h2>
    {% if friends %}
        <ul class="user-list">
            {% for friend in friends %}
            <li class="user-item">
                <div class="user-card">
                    <a href="{% url 'profile' friend.username %}" class="user-link">
                        <div class="user-info">
                            <img src="{{ friend.userprofile.get_avatar_url }}" alt="{{ friend.username }}'s avatar" class="user-avatar">
                            <p class="user-name">{{ friend.username }}</p>
                        </div>
                    </a>
                    <div class="buttons">
                        <a href="{% url 'delete_friend' friendship_id=friend.friendship_id %}" class="btn reject">Delete Friend</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No friends yet.</p>
    {% endif %}

    {% if is_my_friends %}
        <h2>Incoming Friend Requests:</h2>
        {% if friend_requests_in %}
            <ul class="user-list">
                {% for request in friend_requests_in %}
                <li class="user-item">
                    <div class="user-card">
                        <a href="{% url 'profile' request.sender.username %}" class="user-link">
                            <div class="user-info">
                                <img src="{{ request.sender.userprofile.get_avatar_url }}" alt="{{ request.sender.username }}'s avatar" class="user-avatar">
                                <p class="user-name">{{ request.sender.username }}</p>
                            </div>
                        </a>
                        <div class="buttons">
                            <a href="{% url 'respond_friend_request' request.id 'accept' %}" class="btn accept">Accept</a>
                            <a href="{% url 'respond_friend_request' request.id 'reject' %}" class="btn reject">Reject</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No incoming friend requests.</p>
        {% endif %}

        <h2>Outgoing Friend Requests:</h2>
        {% if friend_requests_out %}
            <ul class="user-list">
                {% for request in friend_requests_out %}
                <li class="user-item">
                    <div class="user-card">
                        <a href="{% url 'profile' request.receiver.username %}" class="user-link">
                            <div class="user-info">
                                <img src="{{ request.receiver.userprofile.get_avatar_url }}" alt="{{ request.receiver.username }}'s avatar" class="user-avatar">
                                <p class="user-name">{{ request.receiver.username }}</p>
                            </div>
                        </a>
                        <div class="buttons">
                            <a href="{% url 'respond_friend_request' request.id 'reject' %}" class="btn reject">Cancel</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No outgoing friend requests.</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
