{% extends "base.html" %}
{% load static %}
{% load group_tags %}

{% block content %}
<div class="group-container">
    <div class="group-list">
        <h2>{{ title }} ({{ len_groups }} / {{ max_group_count }}) </h2>
        <div class="group-blocks">
            {% for group in groups %}
            {% if group.id == group_id %}
                <div class="group-block group-block-selected">
                    <p>{{ group.name }}</p>
                </div>
            {% else %}
                <a href="{% url 'group_words' group.id %}">
                    <div class="group-block">
                        <p>{{ group.name }}</p>
                    </div>
                </a>
            {% endif %}
            {% endfor %}

            {% for group in used_groups %}
            {% if group.id == group_id %}
                <div class="group-block group-block-selected">
                    <p>{{ group.name }}</p>
                </div>
            {% else %}
                <a href="{% url 'group_words' group.id %}">
                    <div class="group-block">
                        <p>{{ group.name }}</p>
                    </div>
                </a>
            {% endif %}
            {% endfor %}
        </div>
        {% if len_groups < max_group_count %}
            <a href="{% url 'create_group' %}" class="buttons">Create New Group</a>
        {% endif %}
    </div>
    <div class="word-list-container">
        <h2>{{ title1 }}</h2>

        {% if is_group %}
        {% if words %}
            <table class="word_table group-table">
                <thead>
                    <tr>
                        {% if not is_main %}
                        {% if not is_uses %}
                        <th class="checboxes">#</th>
                        {% else %}
                        <th class="edit">Add</th>
                        {% endif %}
                        {% endif %}
                        <th>Word</th>
                        <th>Translation</th>
                        <th>Example</th>
                    </tr>
                </thead>
                <tbody>
                    {% for word in words %}
                        <tr>
                            {% if not is_main %}
                            {% if not is_uses %}
                            <td><input type="checkbox" name="word_checkbox" value="{{ word.id }}"></td>
                            {% else %}
                            {% if word.is_saved %}

                            <td class="img_td">
                                <img class="f_img cm_img" src="{% static 'med/img/groups/cm_light.png' %}" data-light-src="{% static 'med/img/groups/cm_light.png' %}" data-dark-src="{% static 'med/img/groups/cm_dark.png' %}" alt="IS Saved img">
                            </td>

                            {% else %}

                            <td class="img_td">
                                <a href="{% url 'save_word' word.id %}">
                                <img class="f_img" src="{% static 'med/img/groups/add_light.png' %}" data-light-src="{% static 'med/img/groups/add_light.png' %}" data-dark-src="{% static 'med/img/groups/add_dark.png' %}" alt="Add img">
                                </a>
                            </td>

                            {% endif %}
                            {% endif %}
                            {% endif %}
                            <td>{{ word.word }}</td>
                            <td>{{ word.translation }}</td>
                            <td>{{ word.example }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No words in this group.</p>
        {% endif %}
        {% endif %}

        {% if is_group %}
        {% if paginator.num_pages > 1 %}
        <nav class="list-pages"> 
            <ul>
                {% if page_obj.has_previous %}
                <li class="page-num">
                    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                </li>
                {% endif %}

                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                    <li class="page-num page-num-selected">{{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <li class="page-num"><a href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-num">
                    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
        {% if not is_uses %}
        <div class="buttons groups-buttons" style="margin-top: 15px;">
            <div class="add_word">
                {% if is_main %}
                <a href="{% url 'addword' %}" class="add-word-button">Add Word</a>
                {% else %}
                <a href="{% url 'words' request.user.username %}" class="add-word-button">Add Word</a>
                <a href="#" class="add-word-button" onclick="deleteSelectedWords(); return false;">Delete Selected</a>
                {% if words %}
                    {% get_user_pending_groups request as groups %}
                    {% if group_ not in groups %}
                        <a href="{% url 'send_group_request' group_id  %}" class="add-word-button">Share</a>
                    {% endif %}
                {% endif %}
                {% endif %}
            </div>
            {% if not is_main %}
            <div class="delete-button" style="margin-bottom: 15px;">
                <a href="{% url 'confirm_delete' %}?group_id={{ group_id }}" class="delete-group-button">Delete Group</a>
            </div>
            {% endif %}
        </div>
        {% else %}
        <div class="buttons groups-buttons">
            <div class="add_word">
                <a href="{% url 'save_group_words' group_id %}" class="add-word-button">Save</a>
            </div>
            <div class="delete-button">
                <a href="{% url 'leave_group' group_id=group_id fp=0 %}" class="delete-group-button">Leave</a>
            </div>
        {% endif %}
        </div>
        {% endif %}
    </div>  
</div>

<script>
function deleteSelectedWords() {
    var checkboxes = document.getElementsByName('word_checkbox');
    var wordIds = [];
    for (var checkbox of checkboxes) {
        if (checkbox.checked) {
            wordIds.push(checkbox.value);
        }
    }
    if (wordIds.length > 0) {
        window.location.href = "{% url 'confirm_delete' %}?group_id={{ group_id }}&word_ids=" + wordIds.join('&word_ids=');
    }
}
</script>
{% endblock %}
