{% extends "base.html" %}

{% block content %}
<div class="group-container">
    <div class="group-list">
        <h2>{{ title }}</h2>
        <div class="group-blocks">
            {% for group in groups %}
            {% if group.id == group_id %}
                <div class="group-block group-block-selected">
                    <p>{{ group.name }}</p>
                </div>
            {% else %}
                <a href="{% url 'group_words' group.id %}">
                    <div class="group-block">
                        <p>{{ group.name }}</p>
                    </div>
                </a>
            {% endif %}
            {% endfor %}
        </div>
        <a href="{% url 'create_group' %}" class="buttons">Create New Group</a>
    </div>
    <div class="word-list-container">
        <h2>{{ title1 }}</h2>

        {% if is_group %}
        {% if words %}
            <table class="word_table group-table">
                <thead>
                    <tr>
                        {% if not is_main %}
                        <th class="checboxes">#</th>
                        {% endif %}
                        <th>Word</th>
                        <th>Translation</th>
                        <th>Example</th>
                    </tr>
                </thead>
                <tbody>
                    {% for word in words %}
                        <tr>
                            {% if not is_main %}
                            <td><input type="checkbox" name="word_checkbox" value="{{ word.id }}"></td>
                            {% endif %}
                            <td>{{ word.word }}</td>
                            <td>{{ word.translation }}</td>
                            <td>{{ word.example }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No words in this group.</p>
        {% endif %}
        {% endif %}

        {% if is_group %}
        <div class="buttons groups-buttons">
            <div class="add_word">
                {% if is_main %}
                <a href="{% url 'addword' %}" class="add-word-button">Add Word</a>
                {% else %}
                <a href="{% url 'words' request.user.username %}" class="add-word-button">Add Word</a>
                <a href="#" class="add-word-button" onclick="deleteSelectedWords(); return false;">Delete Selected</a>
                {% endif %}
            </div>
            {% if not is_main %}
            <div class="delete-button">
                <a href="{% url 'confirm_delete' %}?group_id={{ group_id }}" class="delete-group-button">Delete Group</a>
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% if paginator.num_pages > 1 %}
        <nav class="list-pages"> 
            <ul>
                {% if page_obj.has_previous %}
                <li class="page-num">
                    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                </li>
                {% endif %}

                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                    <li class="page-num page-num-selected">{{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <li class="page-num"><a href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-num">
                    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}

    </div>
</div>

<script>
function deleteSelectedWords() {
    var checkboxes = document.getElementsByName('word_checkbox');
    var wordIds = [];
    for (var checkbox of checkboxes) {
        if (checkbox.checked) {
            wordIds.push(checkbox.value);
        }
    }
    if (wordIds.length > 0) {
        window.location.href = "{% url 'confirm_delete' %}?group_id={{ group_id }}&word_ids=" + wordIds.join('&word_ids=');
    }
}
</script>
{% endblock %}
