{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>

<form method="post">
    {% csrf_token %}
    
    {% for field in form %}
        <p><label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}: </label>{{ field }}</p>
        <div class="form-error">{{ field.errors }}</div> 
    {% endfor %}
    <div class="form-error">{{ form.non_field_errors }}</div>

    <div class="buttons l-r-but">
        <a href="#" onclick="document.getElementsByTagName('form')[0].submit(); return false;">Log in</a>
    </div>

    <p>Not a member? <a href="{% url 'register' %}">Signup now</a></p>
</form>

{% endblock %}