{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Practice</h1>

<div class="practice-container">
    <div class="card">
        <img src="{% static 'med/img/practice/dice_light.png' %}" alt="Test" class="card-image" data-light-src="{% static 'med/img/practice/dice_light.png' %}" data-dark-src="{% static 'med/img/practice/dice_dark.png' %}">
        <p class="card-text" id="card-text">Test</p>
    </div>
    <div class="card">
        <img src="{% static 'med/img/practice/read_light.png' %}" alt="Reading" class="card-image" data-light-src="{% static 'med/img/practice/read_light.png' %}" data-dark-src="{% static 'med/img/practice/read_dark.png' %}">
        <p class="card-text">Reading</p>
    </div>
</div>
{% endblock %}
