{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="profile-container">
    <div class="profile-info">
        <img class="profile-avatar" src="{{ user_profile.get_avatar_url }}" alt="User Avatar">
        <div class="profile-details">
            <p><strong>Username:</strong> {{ user.username }}</p>
            {% if user.first_name and user.last_name %}
            <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
            {% elif user.first_name and not user.last_name %}
            <p><strong>Name:</strong> {{ user.first_name }} </p>
            {% endif %}
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Join Date:</strong> {{ user.date_joined|date:"F j, Y" }}</p>
        </div>
    </div>

    <div class="stats">
        <div class="stat-item">
            <a href="{% url 'words' user.username %}">
                <p><strong>Words</strong></p>
                <p>{{ word_count }}</p>
            </a>
        </div>
        <div class="stat-item">
            {% if is_my_profile %}
            <a href="{% url 'groups' %}">
                <p><strong>Groups</strong></p>
                <p> {{ group_count }} </p>
            </a>
            {% else %}
                <p><strong>Groups</strong></p>
                <p> {{ group_count }} </p>
            {% endif %}
        </div>
        <div class="stat-item">
            <a href="{% url 'friends_list' user.username %}">
                <p><strong>Friends</strong></p>
                <p> {{ friend_count }} </p>
            </a>
        </div>
    </div>

    {% if is_my_profile %}
    <div class="buttons profile-buttons">
        <a href="{% url 'edit_profile' %}">Edit Profile</a>
    </div>
    {% else %}
    {% if not is_friends %}
    <div class="buttons profile-buttons">
        <a href="{% url 'add_friend' user.username %}" class="add-friend-link">Add Friend</a>
    </div>
    {% endif %}
    {% endif %}

    {% if recent_words %}
    <div class="last5words">
        <table class="word_table profile-words">
            <thead>
                <tr>
                    <th colspan="2" class="center-table">Last Words {% if is_favorite %} <img class="th_f profile_f" src="{% static 'med/img/base/f_dark.png' %}" alt="Favourite_img"> {% endif %}</th>
                </tr>
                <tr>
                    <th>Word</th>
                    <th>Translation</th>
                </tr>
            </thead>
            <tbody>
                {% for word in recent_words %}
                    <tr>
                        <td>{{ word.word }}</td>
                        <td>{{ word.translation }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
