{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="profile-container">
    <div class="profile-info">
        <img class="profile-avatar" src="{{ user_profile.get_avatar_url }}" alt="User Avatar">
        <div class="profile-details">
            <p><strong>Username:</strong> {{ user.username }}</p>
            {% if user.first_name and user.last_name %}
            <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
            {% elif user.first_name and not user.last_name %}
            <p><strong>Name:</strong> {{ user.first_name }} </p>
            {% endif %}
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Join Date:</strong> {{ user.date_joined|date:"F j, Y" }}</p>
        </div>
    </div>

    <div class="stats">
        <div class="stat-item">
            <a href="{% url 'words' user.username %}">
                <p><strong>Words</strong></p>
                <p>{{ word_count }}</p>
            </a>
        </div>
        <div class="stat-item">
            {% if is_my_profile %}
            <a href="{% url 'groups' %}">
                <p><strong>Groups</strong></p>
                <p> {{ group_count }} </p>
            </a>
            {% else %}
                <p><strong>Groups</strong></p>
                <p> {{ group_count }} </p>
            {% endif %}
        </div>
        <div class="stat-item">
            <a href="{% url 'friends_list' user.username %}">
                <p><strong>Friends</strong></p>
                <p> {{ friend_count }} </p>
            </a>
        </div>
    </div>

    {% if is_my_profile %}
    <div class="buttons profile-buttons">
        <a href="{% url 'edit_profile' %}">Edit Profile</a>
    </div>
    {% else %}
    {% if not is_friends %}
    {% if is_requests_in %}
        <div class="buttons">
            <a href="{% url 'respond_friend_request_a' user.id request.user.id 'accept' %}" class="add-friend-link">Accept</a>
            <a href="{% url 'respond_friend_request_a' user.id request.user.id 'reject' %}" class="add-friend-link">Reject</a>
        </div>
    {% elif is_requests_out %}
        <div class="buttons">
            <a href="{% url 'respond_friend_request_a' user.id request.user.id 'reject' %}" class="add-friend-link">Cancel</a>
        </div>
    {% else %}
    <div class="buttons profile-buttons">
        <a href="{% url 'add_friend' user.username %}" class="add-friend-link">Add Friend</a>
    </div>
    {% endif %}
    {% else %}
    <div class="buttons profile-buttons">
        <a href="{% url 'delete_friend' friendship_id=user.friendship_id %}" class="remove-friend-link">Remove Friend</a>
    </div>
    {% endif %}
    {% endif %}
    
    {% if achievements %}
    <div class="achievements">
        <form style="margin: 20px 0px; padding: 10px;">
            <a href="{% url 'achievement' %}"><h3>Achievements</h3></a>
            <div class="achievements-container">
                {% for achievement in achievements %}
                <div class="achievement-block">
                    <h4>{{ achievement.achievement.name }}</h4>
                    <p class="description">{{ achievement.achievement.description }}</p>
                </div>
                {% endfor %}
            </div>
        </form>
    </div>
    {% endif %}

    {% if user_profile.show_word_stats != 'nobody' %}
        {% if user_profile.show_word_stats == 'every' or is_my_profile %}
            {% if word_count < 5 %}
                {% if is_my_profile %}
                    <div style="text-align: center; margin-top: 30px;">
                        <p>You need at least 5 words to see the statistics</p>
                    </div>
                {% endif %}
            {% else %}
                {% if user_profile.show_pie_chart or user_profile.show_bar_chart or user_profile.show_line_chart %}
                    {% include 'stats_bar.html' %}
                {% endif %}
            {% endif %}
        {% elif not is_my_profile and request.user in friends and user_profile.show_word_stats == 'friends' %}
            {% if word_count > 5 %}
                {% if user_profile.show_pie_chart or user_profile.show_bar_chart or user_profile.show_line_chart %}
                    {% include 'stats_bar.html' %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

    {% if recent_words %}
    <div class="last5words">
        <table class="word_table profile-words">
            <thead>
                <tr>
                    <th colspan="2" class="center-table">Last Words {% if is_favorite %} <img class="th_f profile_f" src="{% static 'med/img/base/f_dark.png' %}" alt="Favourite_img"> {% endif %}</th>
                </tr>
                <tr>
                    <th>Word</th>
                    <th>Translation</th>
                </tr>
            </thead>
            <tbody>
                {% for word in recent_words %}
                    <tr>
                        <td>{{ word.word }}</td>
                        <td>{{ word.translation }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>

<!-- Tubs -->
<script>
    document.querySelectorAll(".tab-btn").forEach(button => {
        button.addEventListener("click", () => {
            const tab = button.dataset.tab;

            document.querySelectorAll(".tab-btn").forEach(btn => btn.classList.remove("active"));
            button.classList.add("active");

            document.querySelectorAll(".tab-content").forEach(content => content.classList.add("hidden"));
            document.getElementById(tab).classList.remove("hidden");
        });
    });

document.addEventListener("DOMContentLoaded", () => {
    const firstTabButton = document.querySelector(".tab-btn");
    if (firstTabButton) {
        const firstTab = firstTabButton.dataset.tab;
        document.getElementById(firstTab).classList.remove("hidden");
    }
});
</script>
<!-- Pie diagram -->
<script>
    var word_type_data = JSON.parse('{{ word_type_data|safe }}');

    var isDarkTheme = document.body.classList.contains('dark-theme');
    var backgroundColor = isDarkTheme ? 'var(--feature-background)' : 'var(--feature-background)';
    var textColor = isDarkTheme ? 'var(--text-color)' : 'var(--text-color)';
    var plotBackgroundColor = isDarkTheme ? 'var(--tab-background)' : '#ffffff';

    Highcharts.chart('word_stat_pie', {
        chart: {
            type: 'pie',
            backgroundColor: backgroundColor,
            style: {
                fontFamily: 'Arial, sans-serif'
            }
        },
        title: {
            text: 'Word Type Distribution',
            style: {
                color: textColor
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                borderWidth: 3,
                borderColor: backgroundColor,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.percentage:.1f} %',
                    style: {
                        color: textColor,
                        textOutline: 'none'
                    }
                }
            }
        },
        series: [
            {
                name: 'Percentage',
                colorByPoint: true,
                Outline: 'none',
                data: word_type_data
            }
        ],
        credits: {
            enabled: false
        }
    });
</script>

<!-- Bar diagram -->
<script>
    var word_type_data = JSON.parse('{{ word_type_data|safe }}');
    var isDarkTheme = document.body.classList.contains('dark-theme');
    var backgroundColor = isDarkTheme ? 'var(--feature-background)' : 'var(--feature-background)';
    var textColor = isDarkTheme ? 'var(--text-color)' : 'var(--text-color)';

    var mainData = word_type_data.map(item => ({
        name: item.name,
        y: item.y,
        drilldown: item.name
    }));

    var drilldownData = word_type_data.map(item => ({
        name: item.name,
        id: item.name,
        data: item.details || []
    }));

    Highcharts.chart('word_stat_bar', {
        chart: {
            type: 'column',
            backgroundColor: backgroundColor,
            style: {
                fontFamily: 'Arial, sans-serif'
            }
        },
        title: {
            text: 'Word Type Distribution',
            style: {
                color: textColor
            }
        },
        accessibility: {
            announceNewData: {
                enabled: true
            }
        },
        xAxis: {
            type: 'category',
            labels: {
                style: {
                    color: textColor
                }
            }
        },
        yAxis: {
            title: {
                text: 'Percentage',
                style: {
                    color: textColor
                }
            },
            labels: {
                style: {
                    color: textColor
                }
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}',
                    style: {
                        color: textColor,
                        textOutline: 'none'
                    }
                }
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
        },
        series: [
            {
                name: 'Word Types',
                colorByPoint: true,
                data: mainData
            }
        ],
        drilldown: {
            breadcrumbs: {
                position: {
                    align: 'right'
                }
            },
            series: drilldownData
        },
        credits: {
            enabled: false
        }
    });
</script>

<!-- Time diagram -->
<script>
    const dailyData = JSON.parse('{{ daily_chart_data|safe }}');

    Highcharts.chart('word_stat_time', {
        chart: {
            type: 'spline',
            backgroundColor: backgroundColor,
            style: {
                fontFamily: 'Arial, sans-serif'
            }
        },
        title: {
            text: 'Words Added Over the Last {{ n_days }} Days',
            style: {
                color: textColor
            }
        },
        xAxis: {
            categories: dailyData.categories,
            title: {
                text: 'Date',
                style: {
                    color: textColor
                }
            },
            labels: {
                style: {
                    color: textColor
                }
            },
        },
        yAxis: {
            title: {
                text: 'Words Added',
                style: {
                    color: textColor
                }
            },
            labels: {
                style: {
                    color: textColor
                }
            }
        },
        legend: {
            itemStyle: {
                color: textColor
            }
        },
        series: [{
            name: 'Words',
            data: dailyData.data,
        }],
    });
</script>
{% endblock %}
