{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
<h1>{{ text.title }}</h1>

<div class="reading-content">
    <div class="buttons make-text-btn read-btn">
        <a href="{% url 'practice_reading' %}">&lt;</a>
        
        {% if request.user.is_superuser %}
        <a href="{% url 'edit_text' text_id=text.id%}">Edit Text</a>
        <a href="{% url 'confirm_delete' %}?text_id={{ text.id }}">Delete Text</a>
        {% endif %}
    </div>

    {% for paragraph in page_obj %}
        <p>⠀​⠀
            {% for phrase, translation in paragraph %}
                {% with cleaned_phrase=phrase|clean_word %}
                    {% if translation %}
                        <a href="{% url 'word_detail' word=cleaned_phrase text_id=text.id %}" class="phrase" title="{{ translation }}">{{ phrase }}</a>
                    {% else %}
                        <span class="word">{{ phrase }}</span>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </p>
    {% endfor %}

    {% if paginator.num_pages > 1 %}
        <nav class="list-pages" style="margin-bottom: 20px;">
            <ul>
                {% if page_obj.has_previous %}
                <li class="page-num">
                    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                </li>
                {% endif %}

                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                    <li class="page-num page-num-selected">{{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <li class="page-num"><a href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-num">
                    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

    {% if text.is_auth_a %}
        <p>Resource: <a href="{{ text.auth }}" target="_blank">{{ base_url }}</a></p>
    {% else %}
        <p>Resource: {{ text.auth }}</p>
    {% endif %}
</div>

{% endblock %}