{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<form method="post" id="registerForm">
    {% csrf_token %}

    {% for field in form %}
        <p>
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
        </p>
        <div class="form-error" id="{{ field.id_for_label }}-error">
            {{ field.errors }}
        </div>
    {% endfor %}

    <div class="buttons l-r-but">
        <a href="#" class="register-button" id="submitLink">Register</a>
    </div>

    <p>Already have an account? <a href="{% url 'login' %}">Login now</a></p>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('registerForm');
        const submitLink = document.getElementById('submitLink');
        const usernameInput = document.getElementById('id_username');
        const usernameError = document.getElementById('id_username-error');

        form.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                submitLink.click();
            }
        });

        submitLink.addEventListener('click', function(event) {
            event.preventDefault();
            form.submit();
        });

        usernameInput.addEventListener('blur', function () {
            const username = usernameInput.value;

            if (username) {
                fetch('{% url "check_username" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    },
                    body: JSON.stringify({ username: username })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        usernameError.textContent = data.error;
                        usernameError.style.color = 'red';
                    } else {
                        usernameError.textContent = '';
                    }
                });
            } else {
                usernameError.textContent = '';
            }
        });
    });
</script>
{% endblock %}