{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="word_table_container">
    <div class="buttons">
        <a href="#" onclick="selectAllWords(); return false;">Select All Words</a>
        <a href="#">Delete Selected</a>
        <a href="{% url 'addword' %}">Add new word</a>
    </div>

    <table class="word_table">
        <thead>
            <tr>
                <th>#</th>
                <th>Word</th>
                <th>Translation</th>
                <th>Example</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for word in words %}
                <tr>
                    <td><input type="checkbox" name="word_checkbox" value="{{ word.id }}"></td>
                    <td>{{ word.word }}</td>
                    <td>{{ word.translation }}</td>
                    <td>{{ word.example }}</td>
                    <td class="img_td"><a href="#"><img class="edit_img" src="{% static 'med/img/features/edit_light.png' %}" data-light-src="{% static 'med/img/features/edit_light.png' %}" data-dark-src="{% static 'med/img/features/edit_dark.png' %}" alt="Edit img"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
function selectAllWords() {
    var checkboxes = document.getElementsByName('word_checkbox');
    var allChecked = true;
    for (var checkbox of checkboxes) {
        if (!checkbox.checked) {
            allChecked = false;
            break;
        }
    }
    for (var checkbox of checkboxes) {
        checkbox.checked = !allChecked;
    }
}
</script>

{% endblock %}
