{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>{{title}}</h1>

<div class="word_table_container">
    {% if is_my_dict %}
    <div class="buttons">
        <a href="{% url 'upload_file' %}">From File</a>
        <a href="#" onclick="selectAllWords(); return false;">Select All Words</a>
        <a href="#" onclick="addWordsToGroup(); return false;">Add To The Group</a>
        <a href="#" onclick="deleteSelectedWords(); return false;">Delete Selected</a>
        <a href="{% url 'addword' %}">Add New Word</a>
    </div>
    {% endif %}

    {% if words %}
    <table class="word_table">
        {% if is_my_dict or access == 'every' or access == 'friends' and is_friends %}
        <thead>
            <tr>
                {% if is_my_dict %}
                <th class="checboxes">#</th>
                {% endif %}
                <th>Word</th>
                <th>Translation</th>
                <th>Example</th>
                {% if is_my_dict %}
                <th class="edit"><img class="th_f" src="{% static 'med/img/base/f_dark.png' %}" alt="Favourite_img"></th>
                <th class="edit">Edit</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for word in words %}
                <tr>
                    {% if is_my_dict %}
                    <td><input type="checkbox" name="word_checkbox" value="{{ word.id }}"></td>
                    {% endif %}
                    <td>{{ word.word }}</td>
                    <td>{{ word.translation }}</td>
                    <td>{{ word.example }}</td>

                    {% if is_my_dict %}
                        {% if word.is_favourite %}
                        <td class="img_td"><a href="{% url 'make_favourite' word.id %}"><img class="f_img" src="{% static 'med/img/base/f_light.png' %}" data-light-src="{% static 'med/img/base/f_light.png' %}" data-dark-src="{% static 'med/img/base/f_dark.png' %}" alt="Favourite img"></a></td>
                        {% else %}
                        <td class="img_td"><a href="{% url 'make_favourite' word.id %}"><img class="f_img" src="{% static 'med/img/base/no_f_light.png' %}" data-light-src="{% static 'med/img/base/no_f_light.png' %}" data-dark-src="{% static 'med/img/base/no_f_dark.png' %}" alt="Not Favourite img"></a></td>
                        {% endif %}

                        <td class="img_td"><a href="{% url 'edit_word' word.id %}"><img class="edit_img" src="{% static 'med/img/features/edit_light.png' %}" data-light-src="{% static 'med/img/features/edit_light.png' %}" data-dark-src="{% static 'med/img/features/edit_dark.png' %}" alt="Edit img"></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <p> </p>
        <p><b>{{ user_name }} has a private dictionary</b></p>
        {% endif %}
    {% else %}
    <p> </p>
    <p><b>There are no words yet</b></p>
    {% endif %}
    </table>

    {% if paginator.num_pages > 1 %}
    <nav class="list-pages"> 
        <ul>
            {% if page_obj.has_previous %}
            <li class="page-num">
                <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
            </li>
            {% endif %}

            {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                <li class="page-num page-num-selected">{{ p }}</li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                <li class="page-num"><a href="?page={{ p }}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-num">
                <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

<script>
function selectAllWords() {
    var checkboxes = document.getElementsByName('word_checkbox');
    var allChecked = true;
    for (var checkbox of checkboxes) {
        if (!checkbox.checked) {
            allChecked = false;
            break;
        }
    }
    for (var checkbox of checkboxes) {
        checkbox.checked = !allChecked;
    }
}
</script>

<script>
function deleteSelectedWords() {
    var checkboxes = document.getElementsByName('word_checkbox');
    var wordIds = [];
    for (var checkbox of checkboxes) {
        if (checkbox.checked) {
            wordIds.push(checkbox.value);
        }
    }
    if (wordIds.length > 0) {
        window.location.href = "{% url 'confirm_delete' %}?word_ids=" + wordIds.join('&word_ids=');
    }
}
</script>

<script>
function addWordsToGroup() {
    var checkboxes = document.getElementsByName('word_checkbox');
    var wordIds = [];
    for (var checkbox of checkboxes) {
        if (checkbox.checked) {
            wordIds.push(checkbox.value);
        }
    }
    if (wordIds.length > 0) {
        window.location.href = "{% url 'select_group' %}?word_ids=" + wordIds.join('&word_ids=');
    }
}
</script>

{% endblock %}
