{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My English Dictionary</title>
    <link rel="stylesheet" type="text/css" href="{% static 'med/css/styles.css' %}">
    <link rel="icon" href="{% static 'med/img/base/icon.png' %}" type="image/png"/>
</head>
<body>

<header>
    {% if user.is_authenticated %}

    <div class="logo_container">
        {% if is_profile or is_dict %}
            {% if is_my_profile or is_my_dict %}
                <a href="{% url 'profile' user.username %}">
                    <img id="logo_img" src="{% static 'med/img/base/light_logo.png' %}" 
                         data-light-src="{% static 'med/img/base/light_logo.png' %}" 
                         data-dark-src="{% static 'med/img/base/dark_logo.png' %}" alt="MED Logo">
                </a>
            {% else %}
                <a href="{% url 'profile' logged_user.username %}">
                    <img id="logo_img" src="{% static 'med/img/base/light_logo.png' %}" 
                         data-light-src="{% static 'med/img/base/light_logo.png' %}" 
                         data-dark-src="{% static 'med/img/base/dark_logo.png' %}" alt="MED Logo">
                </a>
            {% endif %}
        {% else %}
            <a href="{% url 'profile' user.username %}">
                <img id="logo_img" src="{% static 'med/img/base/light_logo.png' %}" 
                     data-light-src="{% static 'med/img/base/light_logo.png' %}" 
                     data-dark-src="{% static 'med/img/base/dark_logo.png' %}" alt="MED Logo">
            </a>
        {% endif %}
    </div>

    {% else %}
    <div class="logo_container">
        <a href="{% url 'home' %}"><img id="logo_img" src="{% static 'med/img/base/light_logo.png' %}" data-light-src="{% static 'med/img/base/light_logo.png' %}" data-dark-src="{% static 'med/img/base/dark_logo.png' %}" alt="MED Logo"></a>
    </div>
    {% endif %}

    <nav class="nav-items" id="nav-items">
            {% if user.is_authenticated %}
                <div class="nav-left">
                {% if not is_search %}
                <form method="get" action="{% url 'user_search' %}" class="search-form">
                    <input type="text" name="q" placeholder="Enter name" required class="search-input">
                </form>
                {% endif %}
                </div>
        
        <div class="nav-center">
                {% if is_my_dict %}
                <a href="{% url 'words' user.username %}">Dictionary</a>
                {% else %}
                <a href="{% url 'words' request.user.username %}">Dictionary</a>
                {% endif %}

                <a href="{% url 'practice' %}">Practice</a>

                <a href="{% url 'groups' %}">Word Groups</a>
            {% else %}
            <div class="nav-left"></div>
            <div class="nav-center">
                <a href="{% url 'login' %}">Dictionary</a>

                <a href="{% url 'login' %}">Practice</a>

                <a href="{% url 'login' %}">Word Groups</a>
                {% endif %}
                <a href="#" id="theme-toggle-light">Light Mode</a>
                <a href="#" id="theme-toggle-dark">Dark Mode</a>
            </div>
        {% if request.user.is_authenticated %}
        <div class="buttons">
            
            {% if is_profile or is_dict %}
                {% if is_my_profile or is_my_dict %}
                <a href="{% url 'profile' user.username %}">{{request.user.username}}</a>
                {% else %}
                <a href="{% url 'profile' logged_user.username %}">{{request.user.username}}</a>
                {% endif %}
            {% else %}
                <a href="{% url 'profile' user.username %}">{{request.user.username}}</a>
            {% endif %}

            <a href="{% url 'logout' %}">Log out</a>
        </div>
        {% else %}
        <div class="buttons">
            <a href="{% url 'login' %}">Log in</a>
            <a href="{% url 'register' %}">Register</a>
        </div>
        {% endif %}
    </nav>
    <div class="burger-menu" id="burger-menu">
        <div class="burger-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>

<div class="container">

    {% block content %}
    {% endblock %}

</div>

<script src="{% static 'med/js/script.js' %}"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const burgerMenu = document.getElementById('burger-menu');
    const navItems = document.getElementById('nav-items');

    burgerMenu.addEventListener('click', function() {
        navItems.classList.toggle('active');
    });

    document.addEventListener('click', function(event) {
        if (!navItems.contains(event.target) && !burgerMenu.contains(event.target)) {
            navItems.classList.remove('active');
        }
    });

    navItems.addEventListener('click', function(event) {
        event.stopPropagation();
    });
});

</script>
</body>
</html>
