/* Змінні для світлої теми */
:root {
    --background-color: #f5f5f5;
    --text-color: #333;
    --header-background: #ffffff;
    --button-background: #333;
    --button-text-color: #ffffff;
    --feature-background: #fff;
    --word-list-background: #fff;
    --feature-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    --feature-text-color: #666;
    --list-text-color: #666;
}

/* Темна тема */
body.dark-theme {
    --background-color: #1e1e1e;
    --text-color: #f5f5f5;
    --header-background: #333333;
    --button-background: #555555;
    --button-text-color: #f5f5f5;
    --feature-background: #333;
    --word-list-background: #2d2c2c;
    --feature-shadow: 0px 8px 16px rgba(255, 255, 255, 0.05);
    --feature-text-color: #ddd;
    --list-text-color: #ddd;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--header-background);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

header img {
    height: 40px;
}

header nav {
    display: flex;
    gap: 20px;
    width: 100%;
}

header .nav-center {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

header .nav-right {
    display: flex;
    gap: 10px;
    margin-left: 30px;
}

header nav a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

header button {
    background-color: var(--button-background);
    color: var(--button-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

header button:hover {
    background-color: #777;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 10px;
}

.container h1 {
    font-size: 2.5em;
    color: var(--text-color);
    margin-bottom: 15px;
}

.container p {
    font-size: 1.2em;
    color: var(--text-color);
    max-width: 600px;
    margin: 0 auto 30px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 60px; 
}

.features h2 {
    width: 100%;
    text-align: center;
    /* margin-bottom: 10px;  */
    font-size: 2.5em; 
}

.feature {
    display: flex;
    align-items: center;
    gap: 30px; 
    background-color: var(--feature-background);
    border-radius: 15px; 
    box-shadow: var(--feature-shadow); 
    padding: 30px;
    transition: transform 0.3s;
    max-width: 900px;
    margin: 0 auto;
}

.feature:hover {
    transform: translateY(-15px); 
}

.feature img {
    width: 200px; 
    height: auto;
    border-radius: 10px;
}

.feature-text {
    flex: 1;
    text-align: left;
}

.feature-text h3 {
    font-size: 1.5em; 
    color: var(--text-color);
    margin-bottom: 10px;
}

.feature-text p {
    font-size: 1em;
    color: var(--feature-text-color);
}

.left-image img {
    order: 1;
}

.left-image .feature-text {
    order: 2;
}

.right-image img {
    order: 2;
}

.right-image .feature-text {
    order: 1;
}

.why-us {
    margin-bottom: 40px;
}

.why-us h2 {
    font-size: 2em;
    color: var(--text-color);
    margin-bottom: 20px;
}

.why-us ul {
    list-style: none; 
    padding: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-us ul li {
    font-size: 1em;
    color: var(--list-text-color);
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center; 
    text-align: left; 
}

.why-us ul li::before {
    content: "•"; 
    margin-right: 10px; 
    color: var(--text-color);
    font-size: 1.5em;
}

.buttons {
    margin-top: 20px;
}

.buttons a {
    text-decoration: none;
    color: var(--button-text-color);
    background-color: var(--button-background);
    padding: 12px 24px;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.buttons a:hover {
    background-color: #555;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 40px;
}

.image-grid div {
    background-color: #e0e0e0;
    padding: 40px 0;
    border-radius: 5px;
}

.image-grid div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--feature-background);
    border-radius: 10px;
    box-shadow: var(--feature-shadow);
}

form .form-label {
    display: block;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 5px;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
    resize: none;
    max-height: 150px;
}

form input[type="text"]:focus,
form textarea:focus {
    border-color: var(--button-background);
    outline: none;
}

.form-error {
    color: red;
    font-size: 0.9em;
    margin-top: -15px;
    margin-bottom: 25px;

}

form .buttons a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--button-background);
    color: var(--button-text-color);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s;
}

form .buttons a:hover {
    background-color: #555;
}

/* Контейнер для таблиці */
.word_table_container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    background-color: var(--feature-background);
    border-radius: 10px;
    box-shadow: var(--feature-shadow);
}

/* Стиль для таблиці */
.word_table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1em;
    color: var(--text-color);
    border: 1px solid var(--dark-card-border);
}

/* Заголовки таблиці */
.word_table thead th {
    background-color: var(--button-background);
    color: var(--button-text-color);
    padding: 12px;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid var(--dark-card-border);
}

/* Стиль для рядків таблиці */
.word_table tbody td {
    padding: 10px;
    border: 1px solid var(--dark-card-border);
    text-align: left;
    color: var(--text-color);
}

/* Чергування кольорів для парних рядків */
.word_table tbody tr:nth-child(even) {
    background-color: var(--background-color);
}

.word_table tbody tr:hover {
    background-color: var(--dark-card-background);
}

.word_table th, td {
    border: 1px solid var(--feature-background);
    border-radius: 10px;
}

.word_table_container .buttons {
    display: flex;
    justify-content: flex-end;
    /* margin-bottom: 20px; */
}

.word_table_container .buttons a {
    margin: 5px 5px;
    width: 20%;
}

.word_table_container .buttons a:last-child {
    margin: 5px 2px 5px 5px;
}

.word_table_container .edit_img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
}

.word_table_container .img_td {
    text-align: center;
    vertical-align: middle; 
}

/* Стиль для пагінації */
.list-pages {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.list-pages ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.list-pages li {
    font-size: 1em;
}

.list-pages a {
    display: inline-block;
    padding: 8px 12px;
    color: var(--text-color);
    background-color: var(--feature-background);
    border: 1px solid var(--button-background);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.list-pages a:hover {
    background-color: var(--button-background);
    color: var(--button-text-color);
}

.list-pages .page-num a.active {
    background-color: var(--button-background);
    color: var(--button-text-color);
    font-weight: bold;
    cursor: default;
}

.page-num-selected {
    font-weight: bold;
    color: var(--button-text-color);
    background-color: var(--button-background);
    padding: 8px 12px;
    border-radius: 5px;
}

/* Адаптивні стилі */
@media (max-width: 768px) {
    .container h1 {
        font-size: 2em;
    }
    .container p {
        font-size: 1em;
    }
    .buttons a {
        padding: 10px 20px;
        margin: 5px;
        font-size: 0.9em;
    }
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    header nav {
        flex-direction: column;
        gap: 10px;
    }
    .word_table_container {
        padding: 15px;
    }

    .word_table thead {
        display: none;
    }

    .word_table tbody td {
        display: block;
        width: 100%;
        padding: 8px;
        text-align: right;
        position: relative;
    }

    .word_table tbody td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        padding-left: 10px;
        font-weight: bold;
    }

    .word_table tbody tr {
        display: block;
        margin-bottom: 10px;
        border-bottom: 2px solid var(--dark-card-border);
        border-radius: 8px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    header img {
        margin-bottom: 10px;
    }
    .container {
        padding: 40px 10px;
    }
    .image-grid {
        grid-template-columns: 1fr;
    }
}
